.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2c3e50;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed; /* Fija el header para que siempre esté visible */
    width: calc(100% - 250px); /* Ajusta el ancho para que no se superponga con el sidebar */
    left: 250px; /* Desplaza el header a la derecha del sidebar */
    top: 0;
    z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
    transition: width 0.3s, left 0.3s; /* Transición suave para el cambio de tamaño */
}

.header.collapsed {
    width: calc(100% - 80px); /* Ajusta el ancho cuando el sidebar está colapsado */
    left: 80px; /* Desplaza el header a la derecha del sidebar colapsado */
}

.header h1 {
    margin: 0;
}

.actions {
    display: flex;
    align-items: center;
}

.actions input[type="search"] {
    padding: 5px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
}

.actions button {
    padding: 5px 10px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #34495e;
    color: white;
    transition: background-color 0.3s;
}

.actions button:hover {
    background-color: #3b5998;
}

.dark-mode {
    background-color: #121212;
    color: white;
}

.dark-mode .header {
    background-color: #1e1e1e;
}

.dark-mode .actions button {
    background-color: #3b3b3b;
}

.dark-mode .actions button:hover {
    background-color: #555;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .header {
        width: 100%;
        left: 0;
        flex-direction: column;
        align-items: flex-start;
    }

    .actions {
        width: 100%;
        justify-content: space-between;
        margin-top: 10px;
    }

    .actions input[type="search"] {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .actions button {
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .header {
        width: 100%;
        left: 0;
        flex-direction: column;
        align-items: flex-start;
    }

    .actions {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
    }

    .actions input[type="search"] {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .actions button {
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
    }
}
